@font-face {
   font-family: mainFont;
   src: url(charter_bold_bt.ttf);
}

/* @font-face {
    font-family: secondFont;
    src: url(CAVOLINI.ttf);
} */

h1 {
    font-family: mainFont;
}

.pricingH1 {
    font-family: Cavolini;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pricingTable {
    font-family: Cavolini;
}