@font-face {
   font-family: mainFont;
   src: url(charter_bold_bt.ttf);
}

/* @font-face {
    font-family: secondFont;
    src: url(CAVOLINI.ttf);
} */

h1, h4 {
    font-family: mainFont;
}

.pricingH1 {
    font-family: Cavolini;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pricingTable {
    font-family: Cavolini;
}

.socialLink {
    text-decoration: none;
    color: inherit;
}

.socials {
    text-align: center;
    list-style-type: none;
    padding-left: 0px;
}

.socials li{
    text-align: center;
    font-size: large;
}

.socialmedia {
    margin-top: 20px;
}

.row {
   border-bottom: 1px solid rgb(55, 54, 54);; 
}